.img {
  width: 300px;
}
.container {
  display: flex;
  margin-top: 8px;
}
.info {
  padding-left: 20px;
}
.btn {
  width: 100px;
  height: 50px;
}
.text{
  text-align: justify;
  width: 80%;
}

.b1{
  margin-left: 10px;
}
.activeBtn{
  background-color: yellowgreen;
}
.active{
  background-color: violet;
}